server:
  port: ${SERVER_PORT:8083}

spring:
  datasource:
    url: ${SPRING_DATASOURCE_URL:jdbc:postgresql://localhost:5432/payments_db}
    username: ${SPRING_DATASOURCE_USERNAME:payments_user}
    password: ${SPRING_DATASOURCE_PASSWORD:payments_pass}
  config:
    import: optional:file:.env[.properties]

  jpa:
    open-in-view: false
    properties:
      hibernate:
        format_sql: true

  flyway:
    enabled: true

management:
  endpoints:
    web:
      exposure:
        include: health,info

app:
  jwt:
    secret: ${JWT_SECRET}