server:
  port: ${SERVER_PORT:8081}

spring:
  datasource:
    url: ${SPRING_DATASOURCE_URL:jdbc:postgresql://localhost:5432/auth_db}
    username: ${SPRING_DATASOURCE_USERNAME:auth_user}
    password: ${SPRING_DATASOURCE_PASSWORD:auth_pass}
  config:
    import: optional:file:.env[.properties]

  flyway:
    enabled: true

  jpa:
    hibernate:
      ddl-auto: validate
    properties:
      hibernate:
        format_sql: true

management:
  endpoints:
    web:
      exposure:
        include: health,info

# Оставляем тот же ключ свойства, но убираем хардкод секретов
app:
  jwt:
    secret: ${JWT_SECRET:}


JWT_TTL_MINUTES: ${JWT_TTL_MINUTES:60}
